body {
  overscroll-behavior: contain;
}

#play_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#play_container p,
#play_container h1 {
  text-align: center;
}

.subject {
  text-align: center;
  display: block;
  margin: 20px auto;
  background: green;
  color: white;
  width: 180px;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

.header {
  text-align: center;
}

.add_player_form {
  width: 100;
  display: flex;
  justify-content: center;
}

.players_Box {
  width: 250px;
  display: flex;
  background: green;
  justify-content: space-between;
  margin: 10px auto;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
}

.players_Box p {
  text-align: end !important;
  width: 150px;
  color: white;
  padding: 0;
  margin: 0;
}

.players_Box .delete_player {
  padding: 5px 10px;
  height: fit-content;
  background-color: red;
  border: solid red;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

#start_round,
#show_player_the_option,
#give_the_device_to_next_player,
#ask_other_player,
#start_voicing,
#show_scores,
#start_new_round {
  display: block;
  margin: 10px auto;
}

.correct {
  background-color: green;
}

.not_correct {
  background-color: red;
}

.name {
  font-weight: bold;
  color: crimson;
}

.player_options,
.options {
  width: 200px;
  height: 27px;
  display: flex;
  margin: 20px auto;
  background-color: green;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
